<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Pitch website </title>
        {% endif %}
    </head>
    <body style="background-image: url('http://kevinbazira.com/images/home_writer_blog_intro4.jpg')">
        {% extends 'bootstrap/base.html'%}
        
        <!-- Content block -->
        {% include 'navbar.html' %}

        {% block content %}
        
        {% endblock%}
    </body>
</html>
