{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}

<div class="container">
    <br>
    <h2> <strong>PITCH CATEGORIES </strong></h2>
    <strong style="font-size: 20px;">{{ macro.displayCategoryList(category) }} </strong>
    <br>
    <br>

    <h2><strong></strong></h2>
    <button type="button" class="btn btn-danger">UpVotes</button>
    <button type="button" class="btn btn-danger">DownVotes</button>
    <button type="button" class="btn btn-danger">Comment</button>


</div>


{% endblock  %}